;
; This is example configuration file
; there is only one section: DATABASE
; below some used entry to check if semicolon is really a comment
; user = dupa
; dupa = user
;

[DATABASE]
db = bhs_test
user = bhs_rest
password = REST@bhs-db
host = 192.168.1.5

[LOG]
logfile=/var/log/bhs/bhstest.log
; logfile=bhstest.log
