# Contents of /etc/systemd/system/BHS.Speedtest.service
[Unit]
Description=BHS Internet Monitoring service
After=network.target
Requires=mariadb.service
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
Restart=60
ExecStart=/usr/local/bin/BHS.Speedtest.py
KillMode=control-group
KillSignal=SIGTERM
StandardOutput=syslog
StandardError=syslog
User=root
Group=root

[Install]
WantedBy=multi-user.target



# deploy:
# systemctl daemon-reload
# systemctl enable BHS.Speedtest.service

# to start immediately:
# sudo systemctl start BHS.Speedtest.service

# check it out:
# sudo systemctl status BHS.Speedtest