# Contents of /etc/systemd/system/BHS.LightsController.service
[Unit]
Description=BHS Lights Controller service
After=network.target
Requires=mariadb.service
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/BHS.LightsController.py
KillMode=control-group
KillSignal=SIGTERM
StandardOutput=syslog
StandardError=syslog
User=root
Group=root

[Install]
WantedBy=multi-user.target
